

  /* Responsive start here  */

  @media (max-width:767px) {
    .blog .blog-image {
      float: none;
      margin-bottom: 20px;
      text-align: center;
      display: block;
  }
  }

  


@media (min-width: 1200px){
.singlepost {
    max-width: 800px;
    margin-top: 214px;
}
}

.h1, h1 {
  font-size: 2.6rem;

}


.h2, h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 40px;
  text-shadow: rgb(121, 121, 121) 0 0 1px;
}
.h3, h3 {
  font-size: 2.2rem;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.25;
  color:#2e2d2c;

}

h1 {
  padding-bottom: 60px;
  text-shadow: rgb(121, 121, 121) 0 0 1px;
}
p.postmeta {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  color: #4a4a49;
  font-family: lato, sans-serif;
  margin-bottom: 55px;
}



.blog-content[_ngcontent-c1] {
  font-family: lato, sans-serif;
  font-size: 23px;
  color: #2e2d2c;
  line-height: 1.65;

  letter-spacing: 0.01em;
  text-shadow: rgb(199, 199, 199) 0 0 1px;
}

.blog-content p {
  margin-top: 0;
  margin-bottom: 2rem!important;
}

span.bullet {
  padding-left: 8px;
  padding-right: 8px;
}

.postmeta img {
  margin-left: 10px;
  margin-top: -3px;
}

.podcast_artwork{

 
}

p.episode {
  font-family: lato, sans-serif;
  font-size: 23px;
  color: #2e2d2c;
  line-height: 1.65;
  letter-spacing: 0.01em;
  text-shadow: rgb(199, 199, 199) 0 0 1px;
  margin-top: -55px;
}

.play {width:60px
}
img.play {
  transition: none;
 
  opacity: 1;
}

img.play:hover {
  transition: all 0.2s;
  opacity: 0.9;
}


img.play:active {
  transition: none;
  opacity: 0.85;
}

.podcast-title{


  padding-left:30px
}


img.artwork {
  border-radius: 5px;
 
  margin-bottom: 70px;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #77777769;
}