<div class="app-container">



    <!--<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
        <a class="navbar-brand" href="#"><img width="250px" style="margin-top: -2px;
          margin-bottom: 1px;"src="assets/prototypingdemocracy.svg" alt=""></a>
      <button class="btn btn-success ml-auto mr-1">Always Show</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Right Link 1</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Right Link 2</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>
    </nav>-->



    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="#"><img width="250px" style="margin-top: -2px;
          margin-bottom: 1px;"src="assets/prototypingdemocracy.svg" alt=""></a>
    
    </nav>





       

          




             
    <div class="router-container">
      <router-outlet></router-outlet>

    </div>

    <div class="footerz"><a href="https://cosmicjs.com/add-bucket?import_bucket=5ced99c009a4ce4d8646c61c"><img src="https://cdn.cosmicjs.com/51fe54d0-4f6e-11e9-9f32-8d001da69630-powered-by-cosmicjs.svg" /></a></div>

    
  </div>

 