

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    border-bottom: 1px solid black;
    border-image-source: url(assets/dots.svg);
    border-image-slice: 60 0;
    border-image-repeat: round;
    background-color: white!important;
}